@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

.sectionhambug{
    background-color: #000000d3;
    display: flex;
    height: vh;
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h2{
        color: #fff;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 25px;
        margin-top: 30px;
        margin-left: 50px;
    }

    p{
        font-family: 'Chakra Petch', sans-serif;
        color: #fff;
        margin-bottom: 25px;
    }

    .catTitulo {
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 120px;
    text-shadow: 2px 2px #0b1c7c;
    width: 80%;
    //text-align: left;
    //padding-left: 20px;
    }

    .contCards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.botaoFlutuante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffdb00; /* Amarelo */
    color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Faz ficar redondo */
    border: 2px solid #000;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; /* Garante que fica por cima de tudo */
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1); /* Aumenta um pouco ao passar o mouse */
    }

    /* A bolinha vermelha com o número */
    span {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* --- FUNDO ESCURO (Atrás da janela) --- */
.fundoEscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Preto transparente */
    display: flex; /* Isso ajuda a centralizar a janela */
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* --- A JANELA DO CARRINHO --- */
.janelaModal {
    background-color: #111; /* Cinza bem escuro */
    border: 2px solid #ffdb00;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 219, 0, 0.2);

    @media (max-width :600px){
        border: 1px solid #ffdb00;
        max-width: 280px;
        border-radius: 8px;
    }
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 15px;

    h3 {
        color: #ffdb00;
        font-family: 'Press Start 2P', cursive;
        font-size: 14px;
    }

    button { /* O botão X */
        background: transparent;
        border: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
}

.listaItens {
    max-height: 250px; /* Se tiver muitos itens, cria barra de rolagem */
    overflow-y: auto;
    margin-bottom: 20px;
}

.itemLinha {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #222;
    font-size: 14px;
    font-family: sans-serif;
}

.modalFooter p {
    color: #fff;
    text-align: right;
    font-size: 16px;
    margin-bottom: 15px;
}

.botaoVerde {
    width: 100%;
    background-color: #2121ff; /* Azul Neon */
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;

    &:hover {
        background-color: #fff;
        color: #2121ff;
    }
}

 @media (max-width:600px){
    h2{
        font-size: 20px;
    }

    p{
        font-size: 13px;
        margin-right: 14px;
    }
    
    .catTitulo{
        font-size: 15px;
        margin-right: 175px;
    }
}
}